* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, Arial, Helvetica;
  color: lightgrey;
  background: url("../images/showcase.jpg") no-repeat 0;
  background-size: cover;
}

/* Header **/
header {
  display: flex;
  height: 10vh;
  margin: auto;
  align-items: center;
  border-bottom: #6ab04c 3px solid;
  padding-left: 16px;
  padding-right: 16px;
}

.branding,
nav,
.covid {
  display: flex;
}

.branding {
  flex: 1;
}
nav {
  flex: 3;
  justify-content: flex-end;
}
.covid {
  flex: 1;
  justify-content: flex-end;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding-right: 16px;
}

.covid button {
  background-color: rgb(31, 40, 43);
  color: red;
  font-size: 16px;
}

header .highlight,
nav .current {
  color: #6ab04c;
  font-weight: bold;
}

#showcase {
  margin: auto;
  min-height: 54vh;
  text-align: center;
}

h1 {
  padding-top: 20px;
  font-size: 30px;
  font-weight: 500;
}
p,
li {
  margin-top: 10px;
  font-size: 18px;
  font-style: italic;
}

#showcase button {
  background-color: darkolivegreen;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 0 #034154;
  margin-bottom: 10px;
  margin-left: 18px;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out,
    visibility 0.4s ease-out;
  position: relative;
}

form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 400px;
  color: black;
  font-size: 18px;
  margin-bottom: 16px;
}

form .submit {
  background: darkolivegreen;
  border-color: transparent;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: #6ab04c;
  cursor: pointer;
}

/* Boxes */
.comment {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 28vh;
  color: rgb(102, 124, 124);
}
.comment button {
  background-color: darkolivegreen;
  color: white;
  border: none;
  padding: 6px 8px;
  box-shadow: 2px 2px 0 #034154;
  font-size: 16px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8vh;
  color: grey;
  text-align: center;
}

@media (max-width: 600px) {
  #main {
    width: 100%;
    float: none;
  }
}

.welcome {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome h2 {
  color: #6ab04c;
  font-size: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.welcome h1::before {
  content: "Welcome In";
  font-size: 50px;
  animation: animate 8s infinite;
}

@keyframes animate {
  0% {
    font-size: 50px;
    opacity: 1;
    content: "Through my eyes";
  }
  20% {
    font-size: 48px;
    opacity: 0;
  }
  40% {
    font-size: 50px;
    opacity: 1;
    content: "Living my life";
  }
  60% {
    font-size: 48px;
    opacity: 0;
  }
  80% {
    font-size: 50px;
    opacity: 1;
    content: "Coding with me";
  }
}
