body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

li {
  float: left;
  font-size: 16px;
  line-height: 1.8em;
  display: inline;
  padding: 0 20px 0 20px;
  list-style: none;
  font-style: italic;
}

/* Header **/
#header {
  background: #324a58;
  color: #ffffff;
  padding-top: 20px;
  min-height: 60px;
  border-bottom: orangered 3px solid;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header #navbar {
  float: right;
  margin-top: 10px;
}

#navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding-right: 15px;
}
#navbar button {
  background-color: rgb(31, 40, 43);
  color: red;
  font-size: 16px;
}

header .highlight {
  color: orangered;
  font-weight: bold;
}

#showcase {
  min-height: 400px;
  background: url("../images/showcase2.jpg") no-repeat 0;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}
#showcase h1 {
  font-size: 25px;
  line-height: 1em;
  padding-top: 30px;
}

#showcase h2 {
  width: 80%;
  font-size: 20px;
  line-height: 1em;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

#showcase button {
  background-color: #034154;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 0 #034154;
  margin-bottom: 10px;
  margin-left: 18px;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out,
    visibility 0.4s ease-out;
  position: relative;
}

.my-form {
  padding: 20px;
}

.my-form .form-group {
  padding-bottom: 15px;
}

.my-form label {
  display: block;
}

.my-form input[type="text"],
.my-form textarea {
  padding: 8px;
  width: 80%;
}

/* Boxes */
.container-1 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.box-1,
.box-2 {
  flex: 1;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
}

.container-1 button {
  background-color: #133b47;
  color: white;
  border: none;
  padding: 6px 8px;
  box-shadow: 2px 2px 0 #034154;
  font-size: 16px;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #324a58;
  text-align: center;
}

@media (max-width: 600px) {
  #main {
    width: 100%;
    float: none;
  }
}
