body {
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

li {
  float: left;
  font-size: 16px;
  line-height: 1.8em;
  display: inline;
  padding: 0 20px 0 20px;
  list-style: none;
  font-style: italic;
}

/* Header **/
#header {
  background: #324a58;
  color: #ffffff;
  padding-top: 20px;
  min-height: 60px;
  border-bottom: #6ab04c 3px solid;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header #navbar {
  float: right;
  margin-top: 10px;
}

#navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding-right: 15px;
}

#navbar button {
  background-color: rgb(31, 40, 43);
  color: red;
  font-size: 16px;
}

header .highlight,
#navbar .current {
  color: #6ab04c;
  font-weight: bold;
}

#showcase {
  min-height: 500px;
  background: url("../images/showcase2.jpg") no-repeat 0;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

#showcase button {
  background-color: #034154;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 0 #034154;
  margin-bottom: 10px;
  margin-left: 18px;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out,
    visibility 0.4s ease-out;
  position: relative;
}

.contact {
  background: #35424a;
  color: #ffffff;
  padding-left: 60px;
  padding-bottom: 150px;
}

.my-form label {
  display: block;
}

.my-form input[type="text"],
.my-form textarea {
  padding: 8px;
  width: 60%;
}

/* Boxes */
.container-1 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.box-1,
.box-2 {
  flex: 1;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
}

.container-1 button {
  background-color: #133b47;
  color: white;
  border: none;
  padding: 6px 8px;
  box-shadow: 2px 2px 0 #034154;
  font-size: 16px;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #324a58;
  text-align: center;
}

@media (max-width: 600px) {
  #main {
    width: 100%;
    float: none;
  }
}

.welcome {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome h2 {
  color: orangered;
  font-size: 50px;
  font-family: merienda;
  margin: 0;
}
.welcome h1 {
  font-family: bignoodletitling;
  margin: 0;
}

.welcome h1::before {
  content: "Through my eyes";
  font-size: 300%;
  animation: animate 8s infinite;
}

@keyframes animate {
  0% {
    font-size: 300%;
    opacity: 1;
  }
  25% {
    font-size: 275%;
    opacity: 0;
  }
  50% {
    font-size: 300%;
    opacity: 1;
    content: "Living my life";
  }
  65% {
    font-size: 275%;
    opacity: 0;
  }
  75% {
    font-size: 300%;
    opacity: 1;
    content: "Coding with me";
  }
  90% {
    font-size: 275%;
    opacity: 0;
  }
  100% {
    font-size: 300%;
    opacity: 1;
    content: "Welcome IN";
  }
}
