body {
  background-color: lightgray;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#main-header {
  background-color: rgb(108, 88, 66);
  color: #fff;
  font-style: italic;
}

#navbar {
  background-color: #333;
  color: #fff;
  font-size: 20px;
  padding: 10px;
}

#navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  padding-right: 15px;
}
#navbar button {
  background-color: rgb(31, 40, 43);
  color: red;
  border: none;
  font-size: 16px;
}

#showcase {
  background-image: url("../images/showcase.jpg");
  background-position: center right;
  min-height: 350px;
  margin-bottom: 30px;
  text-align: left;
  color: black;
  font-style: italic;
}

#showcase h1 {
  color: rgb(65, 58, 51);
  font-size: 25px;
  line-height: 1em;
  padding-top: 15px;
  text-align: center;
}

#showcase h2 {
  color: rgb(65, 58, 51);
  width: 80%;
  font-size: 20px;
  line-height: 1em;
  padding-top: 15px;
  text-align: center;
}

#showcase button {
  background-color: #034154;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 0 #034154;
  margin-bottom: 10px;
  margin-left: 18px;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out,
    visibility 0.4s ease-out;
  position: relative;
  top: -10px;
}

#chess-info {
  padding: 20px;
  margin-left: 35px;
}

.my-form {
  padding: 20px;
}

.my-form .form-group {
  padding-bottom: 15px;
}

.my-form label {
  display: block;
}

.my-form input[type="text"],
.my-form textarea {
  padding: 8px;
  width: 80%;
}

#main {
  float: left;
  width: 60%;
  padding: 0 30px;
  box-sizing: border-box;
}

#main button {
  background-color: #133b47;
  color: white;
  border: none;
  padding: 6px 8px;
  box-shadow: 2px 2px 0 #034154;
  font-size: 16px;
}

#sidebar {
  float: right;
  width: 35%;
  background: rgb(70, 60, 50);
  color: lightgoldenrodyellow;
  padding: 10px;
  box-sizing: border-box;
}

#main-footer {
  background: #333;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

@media (max-width: 600px) {
  #main {
    width: 100%;
    float: none;
  }

  #sidebar {
    width: 100%;
    float: none;
  }
}
